.form{
    position:absolute;
    bottom:1%;
    width:95%;
    height:10%;
    margin-left:3%;
}
.input{
    width:88%;
    border: none;
    border-bottom:2px solid aqua;
    outline: none;
    font-size: 1em;
}
.sendbutton{
    margin-left: 1%;
    width:10%;
    border: none;
    outline: none;
    background:rgb(42, 161, 190) ;
    height:100%;
    font-size: 1.2em;
    color:antiquewhite;
}